<section id="newsletter" class="text-light">
  <div class="wrap">
    <h2>Join Our Newsletter</h2>
    <p>Recieve our latest news and offers every month.</p>
    <div class="sign-up-container">
      {{'[contact-form-7 id="168" title="Newsletter Alert"]'|shortcodes}}
    </div>
  </div>
</section>
