{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} {{post.slug}}">
		{% include 'nav.twig' %}
		<main id="content" role="main">
			<div class="content-wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
			<aside id="sidebar">
				<div class="wrap">
					{{sidebar}}
				</div>
			</aside>
			{% endif %}
		</main>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		{% include 'html-footer.twig' %}
	</body>
</html>
