<div class="widgets">
  <div class="col">
    <h4 class="title">About</h4>
    <ul class="menu">
      <li><a href="/about/#about">Our Story</a></li>
      <li><a href="/about/#team">The Team</a></li>
      <li><a href="/about/#testimonials">Testimonials</a></li>
    </ul>
    <ul class="certification-row">
      <li><img src="/wp-content/themes/jona/dist/img/cbc.png" /></li>
      <li><img src="/wp-content/themes/jona/dist/img/gba.png" /></li>
    </ul>
  </div>
  <div class="col">
    <h4 class="title">Products</h4>
    <ul class="menu">
      {% for product in products %}
      <li><a href="{{product.link}}">{{product.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h4 class="title">Contact</h4>
    <p>
      200-3275 Lakeshore Rd.<br />
      Kelowna, BC, Canada
    </p>
    <p>
      P: <a href="tel:12508615140">1-250-861-5140</a><br />
      F: <a href="tel:18887990981">1-888-799-0981</a><br />
      E: <a href="mailto:info@jonapanels.com">info@jonapanels.com</a>
    </p>
  </div>
  <div class="col">
    <h4 class="title">Social</h4>
    <p>Follow us on social media</p>
    <div class="social-row">
      <ul class="social-icon-container">
        <li><a href="//twitter.com/JonaPanels" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="//www.pinterest.com/jonapanelsales" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="detail">
  <small>Copyright &middot; <a href="//martketer.ca">Martketer</a> {{"now"|date('Y') | trim}}</small>
</div>
