<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/jona/dist/img/favicon/apple-touch-icon.png?v=lkgGvgarWj">
    <link rel="icon" type="image/png" href="/wp-content/themes/jona/dist/img/favicon/favicon-32x32.png?v=lkgGvgarWj" sizes="32x32">
    <link rel="icon" type="image/png" href="/wp-content/themes/jona/dist/img/favicon/favicon-16x16.png?v=lkgGvgarWj" sizes="16x16">
    <link rel="manifest" href="/wp-content/themes/jona/dist/img/favicon/manifest.json?v=lkgGvgarWj">
    <link rel="mask-icon" href="/wp-content/themes/jona/dist/img/favicon/safari-pinned-tab.svg?v=lkgGvgarWj" color="#5bbad5">
    <link rel="shortcut icon" href="/wp-content/themes/jona/dist/img/favicon/favicon.ico?v=lkgGvgarWj">
    <meta name="msapplication-config" content="/wp-content/themes/jona/dist/img/favicon/browserconfig.xml?v=lkgGvgarWj">
    <meta name="theme-color" content="#86c54f">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:700|Open+Sans:400,400i,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="{{site.theme.link}}/build/css/font-awesome.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{site.theme.link}}/build/css/slick.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{site.theme.link}}/build/css/slick-theme.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{site.theme.link}}/build/css/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{site.theme.link}}/dist/css/main.css" type="text/css" media="screen" />
    {{function('wp_head')}}
    <script type="text/javascript">
      function msieversion () {
        var ua = window.navigator.userAgent
        var msie = ua.indexOf('MSIE ')

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
          document.body.addClass += 'ie'
        } else {
          return false
        }
      }
      msieversion()
    </script>
