<script src="{{site.theme.link}}/dist/js/vendor/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="{{site.theme.link}}/dist/js/vendor/slick.min.js" type="text/javascript"></script>
<script src="{{site.theme.link}}/dist/js/vendor/ScrollMagic.min.js" type="text/javascript"></script>
<script src="{{site.theme.link}}/dist/js/vendor/jquery.ScrollMagic.min.js" type="text/javascript"></script>
<script src="{{site.theme.link}}/dist/js/vendor/parallax.min.js" type="text/javascript"></script>
<script src="{{site.theme.link}}/dist/js/app.js" type="text/javascript"></script>

{% if post.slug == 'contact' %}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyuJV-nsr0j_Rpf12-oYmPQ6vOAjWMeEE&callback=initMap">
    </script>
{% endif %}
