{% extends "base.twig" %}

{% block content %}
	<section id="page-hero">
		<div class="wrap">
			<p class="xlarge">Stay connected and updated with Jona Panels</p>
		</div>
	</section>
	{% if paged == 0 %}
	<section id="intro">
		<div class="wrap">
			<h1 class="large">Our most recent Blog Posts</h1>
			<p>{{post.get_field('introduction_body')}}</p>
		</div>
	</section>
	{% endif %}
	<section id="posts">
		<div class="wrap">
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
		</div>
	</section>
	{% if posts.pagination.pages|length > 0 %}
	<div class="pagination">
    {% if posts.pagination.prev %}
        <a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'hide'}}"><i class="fa fa-angle-left"></i></a>
    {% endif %}
    <ul class="pages">
        {% for page in posts.pagination.pages %}
            <li>
                {% if page.link %}
                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                {% else %}
                    <span class="{{page.class}}">{{page.title}}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if posts.pagination.next %}
        <a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'hide'}}"><i class="fa fa-angle-right"></i></a>
    {% endif %}
	</div>
	{% endif %}
{% endblock %}
