<header class="header" >
  {% block header %}
    <div class="wrapper">
      <div class="top">
        <div class="title-area">
          <div class="logo">
            <a class="logo-link" href="/" rel="home"><img src="{{site.theme.link}}/dist/img/logo.svg" alt="{{site.name}} Icon"></a>
          </div>
        </div>
        <div class="contact-area">
          <a href="tel:12508615140">1.250.861.5140</a>
          <a href="mailto:info@jonapanels.com">info@jonapanels.com</a>
          <a href="//twitter.com/JonaPanels" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a>
          <a href="//www.pinterest.com/jonapanelsales" target="_blank" class="social-link"><i class="fa fa-pinterest-p"></i></a>
        </div>
      </div>
      <nav id="nav-main" class="nav-main" role="navigation">
        {% include "menu.twig" with {'menu': menu.get_items} %}
      </nav><!-- #nav -->
    </div>
  {% endblock %}
</header>
