{% extends "base.twig" %}

{% block content %}
	<section id="page-hero" class="text-light">
		<div class="wrap">
			<p class="xlarge">{{post.hero_heading}}</p>
		</div>
	</section>
	<section id="about">
		<div class="wrap">
			<h1 class="large">About Jona Panels Inc.</h1>
			{{post.get_field('introduction_body_1')}}
		</div>
	</section>
	<section class="banner-photo">
	</section>
	<section id="team">
		<div class="wrap">
			<h2>Meet the team</h2>
			<div class="members">
				{% for member in team %}
					<div class="member">
						<div class="image-container">
							<div class="image"></div>
						</div>
						<div class="info-container">
							<div class="info">
								<h3 class="name">{{member.title}}</h3>
								<p class="title">{{member.get_field('title')}}</p>
								<p class="bio">{{member.bio}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section id="testimonials" class="text-light">
		<div class="wrap">
			<div class="icon-container">
				<img src="/wp-content/themes/jona/dist/img/quotes.png" alt="" />
			</div>
			<div class="testimonials-container">
				{% for item in post.get_field('testimonials') %}
				<div class="testimonial">
					<p class="body">{{item.testimonial}}</p>
					<p class="name medium">{{item.name}}</p>
					<p class="company">{{item.company}}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section id="timeline">
		<div class="wrap">
			<h2>The History of Jona Panels</h2>
			<div class="timeline-container">
				<div class="line"></div>
				{% for item in post.get_field('timeline') %}
				<div class="happening">
					<p class="date large">{{item.year}}</p>
					<p class="event">{{item.event}}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% include '_newsletter.twig' %}
{% endblock %}
