{% extends "base.twig" %}

{% block content %}
	<section id="page-hero" class="text-light">
		<div class="wrap">
			<p class="xlarge">{{post.hero_heading}}</p>
		</div>
	</section>
	<section id="intro">
		<div class="wrap">
			<h1 class="large">Our Products</h1>
			{{post.get_field('introduction_1_body')}}
		</div>
	</section>
	<section id="products">
		<div class="wrap">
			{% if products|length > 0 %}
			{% for product in products %}
			{% include ['tease-product.twig', 'tease.twig'] %}
			{% endfor %}
			{% else %}
			<h3>No products found.</h3>
			{% endif %}
		</div>
	</section>

	{% include '_newsletter.twig' %}
{% endblock %}
