{% extends "base.twig" %}

{% block content %}
	<section id="page-hero"  class="text-light">
		<div class="wrap">
			<p class="xlarge">We are excited to work along side you and your team</p>
		</div>
	</section>
	<section id="contact">
		<div class="wrap">
			<h1>Contact Us</h1>
			<div class="methods">
				<div class="method">
					<img src="/wp-content/themes/jona/dist/img/icon-marker.png" srcset="/wp-content/themes/jona/dist/img/icon-marker.png 1x, /wp-content/themes/jona/dist/img/icon-marker@2x.png 2x">
					{{post.get_field('office_location')}}
				</div>
				<div class="method">
					<img src="/wp-content/themes/jona/dist/img/icon-telephone.png" srcset="/wp-content/themes/jona/dist/img/icon-telephone.png 1x, /wp-content/themes/jona/dist/img/icon-telephone@2x.png 2x">
					{{post.get_field('office_phone')}}
				</div>
				<div class="method">
					<img src="/wp-content/themes/jona/dist/img/icon-envelope.png" srcset="/wp-content/themes/jona/dist/img/icon-envelope.png 1x, /wp-content/themes/jona/dist/img/icon-envelope@2x.png 2x">
					{{post.get_field('office_email')}}
				</div>
			</div>
		</div>
	</section>
	<section id="form">
		<div class="wrap">
			<h2>Message Us</h2>
			{{'[pirate_forms]'|shortcodes}}
		</div>
	</section>
	<section id="staff">
		<div class="wrap">
			<div class="col">
				<div class="directory">
					<h2>Staff Directory</h2>
					{% for member in post.get_field('staff') %}
					<p><b>{{member.name}}</b> <i class="title">{{member.title}}:</i><br />
						{{member.email}}<br />
						{{member.phone}}
					</p>
					{% endfor %}
				</div>
			</div>
			<div class="col">
				<div class="rep">
					<h2>Outside Sales Representative</h2>
					{% for rep in post.get_field('sales_reps') %}
					<p><b><span class="color-lightgreen">{{rep.area}}:</span></b><br />
						<b>{{rep.name}}</b> <i class="title">{{rep.title}}:</i><br />
						{{rep.email}}<br />
						{{rep.phone}}
					</p>
					{% endfor %}
				</div>
				<div class="tech-questions">
					<h2>Greene-Board™ Technical Questions</h2>
					{% for contact in post.get_field('greene_contacts') %}
					<p><b>{{contact.name}}</b> <i class="title">{{contact.title}}:</i><br />
						{{contact.email}}<br />
						{{contact.phone}}
					</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section id="map">

	</section>
	{% include '_newsletter.twig' %}
{% endblock %}
