{% extends "base.twig" %}

{% block content %}
	<section id="page-hero"  class="text-light">
		<div class="wrap">
			<h1>{{post.hero_heading}}</h1>
			<p>{{post.hero_subheading}}</p>
			<a href="/about" class="btn-std">Learn more</a>
		</div>
	</section>
	<section id="about">
		<div class="wrap">
			<h2>About Jona Panel Sales Inc.</h2>
			<p>{{post.about_body}}</p>
			<a href="/about/#about" class="btn-std">Learn more</a>
		</div>
	</section>
	<section id="products" class="text-light">
		<div class="wrap">
			<h2>Featured Products</h2>
			<p>{{post.featured_body}}</p>
		</div>
		<div class="products-container">
			{% for product in products %}
				<div class="product">
					<div class="background" style="background-image: url({{TimberImage(product.images[0]).src}});"></div>
					<div class="overlay"></div>
					<div class="content">
						<h3>{{product.title}}</h3>
						<p>{{product.desc|excerpt(30)}}</p>
						<a href="{{product.link}}" class="btn-std">Learn More</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<section id="features">
		<div class="wrap">
			<div class="feature">
				<img src="/wp-content/themes/jona/dist/img/icon-piggybank.png" srcset="/wp-content/themes/jona/dist/img/icon-piggybank.png 1x, /wp-content/themes/jona/dist/img/icon-piggybank@2x.png 2x" />
				<h3>{{post.feature_1_heading}}</h3>
				<p>{{post.feature_1_body}}</p>
				<a href="/about/#about" class="btn-std no" style="animation-delay: 1s" >Learn More</a>
			</div>
			<div class="feature">
				<img src="/wp-content/themes/jona/dist/img/icon-earth.png" srcset="/wp-content/themes/jona/dist/img/icon-earth.png 1x, /wp-content/themes/jona/dist/img/icon-earth@2x.png 2x" />
				<h3>{{post.feature_2_heading}}</h3>
				<p>{{post.feature_2_body}}</p>
				<a href="/environmentally-friendly-building-materials" class="btn-std no" style="animation-delay: 2s" >Learn More</a>
			</div>
			<div class="feature">
				<img src="/wp-content/themes/jona/dist/img/icon-book.png" srcset="/wp-content/themes/jona/dist/img/icon-book.png 1x, /wp-content/themes/jona/dist/img/icon-book@2x.png 2x" />
				<h3>{{post.feature_3_heading}}</h3>
				<p>{{post.feature_3_body}}</p>
				<a href="/products/#intro" class="btn-std no" style="animation-delay: 3s" >Learn More</a>
			</div>
		</div>
	</section>
	{% include '_newsletter.twig' %}
{% endblock %}
