{% extends "base.twig" %}

{% block content %}
<section>
	<div class="wrap">
		<article class="post-type-{{post.post_type}} post-container" id="post-{{post.ID}}">
			<div class="post-img-container">
				{% if post.thumbnail.src %}
					<img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}" class="post-img"/>
				{% endif %}
			</div>
			<div class="post-meta">
				<h1 class="post-title large">{{post.title}}</h1>
				<p class="post-date">{{post.post_date|date}}</p>
			</div>
			<div class="post-body">
				{{post.content}}
			</div>
		</article>
		<div class="pagination">
			<div class="pagination-prev">
				{% if post.prev %}
					<a href="{{post.prev.link}}" class="prev {{post.prev.link|length ? '' : 'hide'}}">Previous</a>
				{% endif %}
			</div>
			<div class="pagination-next">
			{% if post.next %}
				<a href="{{post.next.link}}" class="next {{post.next.link|length ? '' : 'hide'}}">Next</a>
			{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
