{% extends "base.twig" %}

{% block content %}
<section class="product-main">
	<div class="wrap">
		<div class="product-media-container">
			<div class="product-img-container">
				{% for image in post.get_field('images') %}
					<img src="{{TimberImage(image)}}" alt="{{post.thumbnail.alt}}" class="product-img"/>
				{% endfor %}
			</div>
			{% if (post.get_field('downloads_en') or post.get_field('downloads_fr')) %}
			<div class="downloads">
				<img src="/wp-content/themes/jona/dist/img/icon-pdf.png" srcset="/wp-content/themes/jona/dist/img/icon-pdf.png 1x, /wp-content/themes/jona/dist/img/icon-pdf@2x.png 2x" class="icon-pdf" />
				<h3 class="color-lightgreen">Download the PDFs Below</h3>
				{% if post.get_field('downloads_en') %}
				<div class="download-group">
					<p class="language">English</p>
					<ul>
						{% for item in post.get_field('downloads_en') %}
						<li class="file"><a href="{{item.english.url}}" target="_blank"> {{item.english.title}}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{% if post.get_field('downloads_fr') %}
				<div class="download-group">
					<p class="language">French</p>
					<ul>
						{% for item in post.get_field('downloads_fr') %}
						<li class="file"><a href="{{item.french.url}}" target="_blank"> {{item.french.title}}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
			{% endif %}
		</div>
		<div class="product-body">
			<div class="meta">
				<h1 class="title large">{{post.title}}</h1>
			</div>
			<div class="description">
				<p>{{post.get_field('desc')}}</p>
			</div>
			{% if post.get_field('features') %}
			<div class="features-group">
				<ul class="features">
				{% for item in post.get_field('features') %}
					<li class="feature">{{item.feature}}</li>
				{% endfor %}
				</ul>
			</div>
			{% if post.buy_link %}
			<div class="purchase-group">
				<p><a class="btn-std" href="{{post.buy_link}}" target="_blank">Buy Now</a></p>
			</div>
			{% endif %}
			{% endif %}
			{% if (post.get_field('downloads_en') or post.get_field('downloads_fr')) %}
			<div class="downloads">
				<img src="/wp-content/themes/jona/dist/img/icon-pdf.png" srcset="/wp-content/themes/jona/dist/img/icon-pdf.png 1x, /wp-content/themes/jona/dist/img/icon-pdf@2x.png 2x" class="icon-pdf" />
				<h3 class="color-lightgreen">Download the PDFs Below</h3>
				{% if post.get_field('downloads_en') %}
				<div class="download-group">
					<p class="language">English</p>
					<ul>
						{% for item in post.get_field('downloads_en') %}
						<li class="file"><a href="{{item.english.url}}" target="_blank"> {{item.english.title}}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{% if post.get_field('downloads_fr') %}
				<div class="download-group">
					<p class="language">French</p>
					<ul>
						{% for item in post.get_field('downloads_fr') %}
						<li class="file"><a href="{{item.french.url}}" target="_blank"> {{item.french.title}}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
			{% endif %}
			{% if post.get_field('installation') %}
			<div class="installation">
				<h3 class="color-lightgreen">Installation</h3>
				<ol class="steps">
					{% for item in post.get_field('installation') %}
					<li class="step">{{item.step}}</li>
					{% endfor %}
				</ol>
			</div>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}
