{% block content %}
<div class="product">
	<div class="image-container">
		<a href="{{product.link}}"><div class="image" style="background-image: url('{{TimberImage(product.images[0])}}')"></div></a>
	</div>
	<div class="info-container">
		<div class="info">
			<h3 class="name large">{{product.title}}</h3>
			<p class="excerpt">{{product.desc|excerpt(50)}}</p>
			<a href="{{product.link}}" class="btn-std">Learn More</a>
		</div>
	</div>
</div>
{% endblock %}
