{% extends "tease.twig" %}

{% block content %}
	{% if post.thumbnail.src %}
	<div class="tease-image-container">
		<a href="{{post.link}}">
			<div class="image" style="background-image: url({{post.thumbnail.src}});"></div>
		</a>
	</div>
	{% endif %}
	<div class="tease-content-container">
		<h3 class="tease-title"><a href="{{post.link}}">{{post.title}}</a></h3>
		<small class="tease-date">{{post.date}}</small>
		<p class="tease-excerpt">{{post.get_preview(40)}}</p>
	</div>
{% endblock %}
